/* Fonts  */
.brand-logo {
    margin-left: 1rem;
}

.text-shadow{
    text-shadow:  5px 5px 10px #000000;
}

.italic{
    font-style: italic;
}

/* Recipe cards  */

.card .card-image img {
    height: 18rem;
    object-fit: cover;
}

.card .card-content{
    padding-top: 1rem;
}

.card .card-content .card-title{
    font-weight: 400;
}

.like-button{
    float: left;
    margin: 8px 0px 0px 8px;
}

.likes-amount{
    position: relative;
    top: 20px;
    right: -5px;
}

.created-by{
    margin: 4px 10px;
    float: right;
}

/* Recipe page  */

.recipes-background {
    min-height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.4), rgba(255,255,255,0)),url("../images/victoria-shes-4MEL9XS-3JQ-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media queries  */

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 1.8rem;
        width: fit-content;
    }
}