{% extends "base.html" %}
{% block content %}
<!-- hero background image -->
<div class="row recipes-background valign-wrapper">
    <div class="row center-align">
        <div class="col">
            <!-- hero text -->
            <h1 class="text-shadow grey-text text-lighten-4">My Vegan Recipes</h1>
            <h3 class="text-shadow grey-text text-lighten-4">Where u store, share and find your favorite <br>Vegan
                Recipes</h3>
        </div>
    </div>
</div>
<div class="container">
    <!-- welcome text -->
    <div class="row center-align">
        <div class="col s12 m8 l8 offset-m2 offset-l2 center-align">
            <h3>
                Welcome to My Vegan Recipies.
            </h3>
            <p>
                The best place to get and store your favorite vegan recipies
                To add recipes, like recipes and get access to your personal recipe book please <a
                    href="{{ url_for('register') }}">register</a>.
                If u just want to look around or search for a recipe, u can search our recipes by name or by ingredient.
            </p>
        </div>
    </div>
    <!-- search bar -->
    <form action="{{ url_for('search') }}" method="POST">
    <div class="row">
        <input type="hidden" id="search_site" name="search_site" value="all_recipes.html">
        <div class="input-field col s12 m8 l7 offset-l1">
            <i class="material-icons prefix">search</i>
            <input name="recipe_search" id="recipe_search" type="text">
            <label for="recipe_search">Search</label>
        </div>
        <div class="input-field col s8 offset-s2 m4 l3">
            <select name="category_filter" id="category_filter">
                <option value="" disabled selected>filter category</option>
                {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
            <a href="{{ url_for('all_recipes') }}" class="red btn waves-effect waves-light">Reset</a>
            <button type="submit" class="right waves-effect waves-light btn light-green darken-2">
                <i class="fas fa-search left"></i> Search
            </button>
        </div>
    </div>
    </form>
    <!-- recipes -->
    <div class="row">
        {% for recipe in recipes %}
        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}">
                    </div>
                    <form action="{{ url_for('like_recipe') }}" method="post">
                        <button name="like"
                            class="like-button btn-floating waves-effect waves-light light-green darken-2" type="submit"
                            value="{{ recipe._id }}">
                            <!-- indicate if this user liked this recipe -->
                            <i class="material-icons right">{% if session["user"] in recipe.liked_by %}favorite{% else %}favorite_border{% endif %}</i>
                        </button>
                    </form>
                    <span class="likes-amount grey-text text-darken-2">{{ recipe.liked_by|length }}</span>
                    <span class="created-by grey-text text-lighten-1 italic">Created by: {{ recipe.user_name }}</span>
                    <div class="card-content center-align">
                        <span class="line-clamp card-title grey-text text-darken-2">{{ recipe.recipe_title }}</span>
                        <p class="line-clamp grey-text text-darken-2">{{ recipe.recipe_description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if pagination is defined %}
    <div class="row center-align">
        {{ pagination.links }}
    </div>
    {% endif %}
</div>
{% endblock %}