<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Vegan recipies and recipe book">
  <meta name="keywords" content="vegan, recipe ,cookbook , food">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
  <title>My Vegan Recipies</title>
</head>
<!-- vavigation menu -->
<nav>
  <div class="nav-wrapper light-green darken-2">
    <a href="{{ url_for('all_recipes')}}" class="brand-logo text-shadow">My Vegan Recipes</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ url_for('all_recipes')}}">All recipes</a></li>
      {% if session.user %}
        <li><a href="{{ url_for('recipe_book')}}">My recipe book</a></li>
        <li><a href="{{ url_for('add_recipe')}}">Add recipe</a></li>
        <li><a href="{{ url_for('logout')}}">Log out</a></li>
      {% else %}
        <li><a href="{{ url_for('login')}}">Log in</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<!-- hamburger navigation menu -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ url_for('all_recipes')}}">All recipes</a></li>
  {% if session.user %}
    <li><a href="{{ url_for('recipe_book')}}">My recipe book</a></li>
    <li><a href="{{ url_for('add_recipe')}}">Add recipe</a></li>
    <li><a href="{{ url_for('logout')}}">Log out</a></li>
  {% else %}
    <li><a href="{{ url_for('login')}}">Log in</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
  {% endif %}
</ul>

<body>

  <section>
    <!-- flash messages-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row flashes">
            <h4 class="grey-text text-lighten-1 center-align">{{ message }}</h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </section>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer light-green darken-2">
    <div class="container">
      <div class="row light-green darken-2">
        <!-- footer title and text -->
        <div class="col l6 s12">
          <h5 class="white-text text-shadow">My Vegan Recipes</h5>
          <p class="grey-text text-lighten-4">Your go to recipe page for all things vegan.<br>Where u manage your
            personal recipe book and discover the best vegan recipes.</p>
        </div>
        <!-- footer links -->
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('all_recipes')}}">All recipes</a></li>
            {% if session.user %}
              <li><a class="grey-text text-lighten-3" href="{{ url_for('recipe_book')}}">My recipe book</a></li>
              <li><a class="grey-text text-lighten-3" href="{{ url_for('logout')}}">Log out</a></li>
            {% else %}
              <li><a class="grey-text text-lighten-3" href="{{ url_for('login')}}">Log in</a></li>
              <li><a class="grey-text text-lighten-3" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- footer copyright -->
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Myvegan inc.
        <!-- social links -->
        <a class="grey-text text-lighten-3 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename ='js/script.js') }}"></script>
</body>

</html>