{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12">
            <h2 class="grey-text text-lighten-1 center">Edit {{ recipe.recipe_title }}</h2>
        </div>
    </div>
    <div class="row add-recipe">
        <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col card-panel m12 l10 offset-l1">
            <!-- recipe title -->
            <div class="row">
                <div class="input-field col s12">
                    <input name="recipe_title" id="recipe_title" type="text" minlength="3" maxlength="50"
                        class="validate" value="{{ recipe.recipe_title }}" required>
                    <label for="recipe_title">Recipe Title</label>
                </div>
            </div>
            <!-- recipe category -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="category_name" required>
                        <option value="{{ recipe.category_name }}" disabled selected>{{ recipe.category_name }}</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label>Recipe category</label>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <input name="image_url" id="image_url" type="text" pattern="https?://.+" class="validate" required
                        value="{{ recipe.image_url }}">
                    <label for="image_url">Image url</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="recipe_description" id="recipe_description" type="text" minlength="10"
                        maxlength="200" class="validate" required>{{ recipe.recipe_description }}</textarea>
                    <label class="textarea-label" for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- ingredients-->
            {% for ingredient in ingredients %}
            <div class="row recipe-item ingredient">
                <!-- ingredient -->
                <div class="input-field col s12 m8">
                    <input name="ingredient_name" type="text" minlength="3" maxlength="100" class="validate" required
                        value="{{ ingredient.ingredient_name }}">
                    <label for="ingredient_name">Ingredient</label>
                </div>
                <div class="input-field col s4 m1">
                    <input name="amount" type="text" maxlength="5" class="validate" required
                        value="{{ ingredient.amount }}">
                    <label for="amount">Amount</label>
                </div>
                <div class="col s6 m2">
                    <label>Unit</label>
                    <select class="browser-default" name="unit_name" required>
                        <option selected value="{{ ingredient.unit_name }}">{{ ingredient.unit_name }}</option>
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                        <option value="l">l</option>
                        <option value="ml">ml</option>
                        <option value="pcs">pcs</option>
                    </select>
                </div>
                <div class="col s2 m1 l1">
                    <button type="button" class="delete btn-floating btn-small waves-effect waves-light red">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
            {% endfor %}
            <!-- add ingredient button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="add-ingredient" class="btn waves-effect waves-light" type="button">Add Ingredient
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>
            <!-- preparation steps-->
            {% for preparation_step in preparation_steps %}
            <div class="row prep-step recipe-item valign-wrapper">
                <div class="col s10 m11 l11">
                    <div class="input-field preparation_step col s12">
                        <textarea name="preparation_step" type="text" minlength="10" maxlength="400"
                            class="validate">{{ preparation_step }}</textarea>
                        <label class="textarea-label" for="preparation_step">Preparation step</label>
                    </div>
                </div>
                <div class="col s2 m1 l1">
                    <button type="button" class="delete btn-floating btn-small waves-effect waves-light red">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
            {% endfor %}
            <!-- add prearation step button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" id="add-prep-step" type="button">Add step
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>
            <!-- save or cancel buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <hr><br>
                    <button class="btn waves-effect waves-light" type="submit">Save recipe
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="button">Cancel
                        <i class="material-icons right">cancel</i>
                    </button>
                    <p>After saving this recipe you will automatically<br>be redirected to your recipe book.</p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}