{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12">
            <h2 class="grey-text text-lighten-1 center">Login</h2>
            <p class="grey-text text-darken-1 center">Log in to access to your own Personal recipe book.<br>Collect as much likes as you can on recipes added by you!</p>
        </div>
    </div>
    <div class="row">
        <form method="POST" action="{{ url_for('login') }}" class="col card-panel s12 m12 l10 offset-l1">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <input name="user_name" id="user_name" type="text" class="validate">
                    <label for="user_name">User name</label>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <hr><br>
                    <button class="btn waves-effect waves-light" type="submit">Login
                        <i class="material-icons right">login</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}