{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
            <div class="row valign-wrapper">
                <!-- Recipe likes -->
                <div class="col s3 m2 l2 right">
                    <form action="{{ url_for('all_recipes') }}" method="post">
                        <button name="like" class="like-button btn-floating waves-effect waves-light green darken-3"
                            type="submit" value="{{ recipe._id }}">
                            <!-- indicate if this user liked this recipe -->
                            <i
                                class="material-icons">{% if session["user"] in recipe.liked_by %}favorite{% else %}favorite_border{% endif %}</i>
                        </button>
                    </form>
                    <span class="likes-amount">{{ recipe.liked_by|length }}</span>
                </div>
                <!-- Recipe Title -->
                <div class="col s9 m10 l10 left-align">
                    <h3>{{ recipe.recipe_title }}</h3>
                </div>
            </div>
            <div class="row">
                <!-- Recipe image -->
                <div class="col s12 push-m6 m6 push-l6 l6">
                    <img class="recipe-image" src="{{ recipe.image_url }}">
                </div>
                <!-- Recipe ingredients -->
                <div class="col s12 pull-m6 m6 pull-l6 l6">
                    <div class="row border">
                        <h4>Ingredients:</h4>
                        <div class="col l8">
                            <ul>
                                {% for ingredient in ingredients %}
                                <li>{{ ingredient.ingredient_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col l2">
                            <ul>
                                {% for ingredient in ingredients %}
                                <li>{{ ingredient.amount }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col l2">
                            <ul>
                                {% for ingredient in ingredients %}
                                <li>{{ ingredient.unit_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <ol>
                        {% for step in preparation_steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}