{% extends "base.html" %}
{% block content %}
<!-- hero background image -->
<div class="row recipe-book-background valign-wrapper">
    <div class="col s12 center-align">
        <!-- hero text -->
        <h1 class="text-shadow grey-text text-lighten-4">{{ session["user"] }}'s recipe book.</h1>
        <h2 class="text-shadow grey-text text-lighten-4">Congratulations!<br>{{ TOTAL_LIKES }} people like these
            recipes!</h2>
        <h3 class="text-shadow grey-text text-lighten-4">The best place to store your favorite vegan recipies.</h3>
    </div>
</div>
<div class="container">
    <!-- welcome text -->
    <div class="row center-align">
        <div class="col s12 m8 l8 offset-m2 offset-l2 center-align">
            {% if search %}
            <p>
                Search results for: {{ search }} <br>
                Press reset to get all your recipes.
            </p>
            {% else %}
            <p>

                Add recipes or edit your recipes.
                Or search for a recipe, u can search our recipes by name or by ingredient.
            </p>
            {% endif %}
        </div>
    </div>
    <!-- search bar -->
    <form action="{{ url_for('search') }}" method="POST">
        <div class="row">
            <input type="hidden" id="search_site" name="search_site" value="recipe_book.html">
            <div class="input-field col s12 m8 l7 offset-l1">
                <i class="material-icons prefix">search</i>
                <input name="recipe_search" id="recipe_search" type="text">
                <label for="recipe_search">Search</label>
            </div>
            <div class="input-field col s6 offset-s3 m4 l3">
                <select name="category_filter" id="category_filter">
                    <option value="" disabled selected>Filter category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                <a href="{{ url_for('recipe_book') }}" class="red btn waves-effect waves-light darken-3">Reset</a>
                <button type="submit" class="right waves-effect waves-light btn light-green darken-4">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
    <!-- recipes -->
    <div class="row">
        <!-- display all recipes liked by this user -->
        {% for recipe in recipes %}
        {% if session["user"] in recipe.liked_by %}
        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_title }}">
                    </div>
                    <form action="{{ url_for('like_recipe') }}" method="post">
                        <button name="like"
                            class="like-button btn-floating waves-effect waves-light light-green darken-4" type="submit"
                            value="{{ recipe._id }}">
                            <i class="material-icons right">favorite</i>
                        </button>
                    </form>
                    <span class="likes-amount grey-text text-darken-2">{{ recipe.liked_by|length }}</span>
                    <span class="created-by line-clamp grey-text text-darken-1 italic">By: {{ recipe.user_name }}</span>
                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-2">{{ recipe.recipe_title }}</span>
                        <p class="line-clamp grey-text text-darken-2">{{ recipe.recipe_description }}</p>
                    </div>
                </a>
            </div>
            <div class="row">
                {% if session["user"] == recipe.user_name %}
                <div class="col l6">
                    <a class="waves-effect waves-light light-green darken-4 btn modal-trigger delete-button"
                        href="#{{ recipe._id }}">
                        <i class="material-icons left">delete</i>Delete</a>
                </div>
                <div class="col l6">
                    <a class="waves-effect waves-light btn right light-green darken-4"
                        href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                        <i class="material-icons left">edit</i>edit</a>
                </div>
                {% else %}
                <form class="col l12" action="{{ url_for('like_recipe') }}" method="post">
                    <button name="like" value="{{ recipe._id }}"
                        class="waves-effect waves-light btn light-green darken-4" type="submit"><i
                            class="material-icons left">remove</i>Remove</button>
                </form>
                {% endif %}
            </div>
            <!-- Delete confirmation modal -->
            <div id="{{ recipe._id }}" class="modal">
                <div class="modal-content center-align">
                    <h4>Are u sure?</h4>
                    <p>Please confirm that u want to delete this recipe entirely</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" method="post">
                        <button name="delete" class="modal-action modal-close waves-effect waves-green btn-flat"
                            type="submit">Yes</button>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}